* {
  box-sizing: border-box;
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background-color: #222b32;
  color: #ffffff;
}

input {
  font-family: 'Ubuntu', sans-serif;
}

.page-wrap {
  padding: 50px 0;
}

h1 {
  margin: 0 0 50px;
  text-align: center;
  font-weight: 700;
}

.todo-block {
  margin: 50px auto 0;
  width: 500px;
}
.todo-block__create {
  margin-bottom: 30px;
  position: relative;
}
.todo-block__create .error-message {
  color: #f73744;
  font-size: 14px;
  position: absolute;
  top: 103%;
  left: 0;
}
.todo-block__create form {
  position: relative;
}
.todo-block__create input {
  width: 100%;
  padding: 15px 35px 15px 10px;
  font-size: 18px;
  color: #fff;
  border: 0;
  background-color: #fe4250
  /* Firefox 19+ */
  /* Firefox 18- */
}
.todo-block__create input::-webkit-input-placeholder {
  color: #fff;
}
.todo-block__create input::-moz-placeholder {
  color: #fff;
}
.todo-block__create input:-moz-placeholder {
  color: #fff;
}
.todo-block__create input:-ms-input-placeholder {
  color: #fff;
}
.todo-block__create button {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 0;
  padding: 0;
  background-color: transparent;
}
.todo-block__create button i {
  font-size: 25px;
  color: #ffffff;
}
.todo-block__list {
  background-color: #181c1f;
  padding: 20px 0;
}
.todo-block__list_row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
}
.todo-block__list_row:hover {
  background-color: #23292d;
}
.todo-block__list_row .checkbox-container {
  position: relative;
}
.todo-block__list_row .checkbox-container .checkbox-input:not(checked) {
  position: absolute;
  opacity: 0;
}
.todo-block__list_row .checkbox-container .checkbox-input:not(checked) + .checkbox-label {
  position: relative;
  line-height: 20px;
  display: block;
  padding: 15px 20px 15px 40px;
  cursor: pointer;
  margin: 0;
}
.todo-block__list_row .checkbox-container .checkbox-input:not(checked) + .checkbox-label:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 8px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100%;
  -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
}
.todo-block__list_row .checkbox-container .checkbox-input:not(checked) + .checkbox-label:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 11px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
}
.todo-block__list_row .checkbox-container .checkbox-input:checked + .checkbox-label:before {
  background-color: #f73744;
}
.todo-block__list_row .checkbox-container .checkbox-input:checked + .checkbox-label:after {
  background: url("../img/icon-check.svg");
  width: 14px;
  height: 14px;
}
.todo-block__list_row .input-edit {
  background-color: transparent;
  border: 0;
  padding: 15px 20px 15px 40px;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}
.todo-block__list_row .row-action {
  position: absolute;
  top: 15px;
  right: 20px;
}
.todo-block__list_row .row-action button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
}
.todo-block__list_row .row-action button:last-child {
  margin-right: 0;
}
.todo-block__list_row .row-action button i {
  font-size: 20px;
  color: #ffffff;
}
