* {
  box-sizing: border-box;
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background-color: #222b32;
  color: #ffffff;
}

input {
  font-family: 'Ubuntu', sans-serif;
}

.page-wrap {
  padding: 50px 0;
}

h1 {
  margin: 0 0 50px;
  text-align: center;
  font-weight: 700;
}

.todo-block {
  margin: 50px auto 0;
  width: 500px;

  &__create {
    margin-bottom: 30px;
    position: relative;

    .error-message {
      color: #f73744;
      font-size: 14px;
      position: absolute;
      top: 103%;
      left: 0;
    }

    form {
      position: relative;
    }

    input {
      width: 100%;
      padding: 15px 35px 15px 10px;
      font-size: 18px;
      color: #fff;
      border: 0;
      background-color: #fe4250;

      &::-webkit-input-placeholder {color:#fff;}
      &::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
      &:-moz-placeholder           {color:#fff;}/* Firefox 18- */
      &:-ms-input-placeholder      {color:#fff;}
    }

    button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      border: 0;
      padding: 0;
      background-color: transparent;

      i {
        font-size: 25px;
        color: #ffffff;
      }
    }
  }
  
  &__list {
    background-color: #181c1f;
    padding: 20px 0;

    &_row {
      border-bottom: 1px solid rgba(255,255,255, 0.5);
      position: relative;
      
      
      &:hover {
        background-color: lighten(#181c1f, 5%);
      }

      .checkbox-container {
        position: relative;

        .checkbox-input {
          &:not(checked) {
            position: absolute;
            opacity: 0;
          }
          &:not(checked) + .checkbox-label {
            position: relative;
            line-height: 20px;
            display: block;
            padding: 15px 20px 15px 40px;
            cursor: pointer;
            margin: 0;
          }
          &:not(checked) + .checkbox-label:before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 15px;
            left: 8px;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 100%;
            transition: all 0.3s linear;
          }
          &:not(checked) + .checkbox-label:after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 25px;
            left: 11px;
            transform: translateY(-50%);
            background: transparent;
          }
          &:checked + .checkbox-label {
            &:before {
              background-color: #f73744;
            }
            
            &:after {
              background: url("../img/icon-check.svg");
              width: 14px;
              height: 14px;
            }
          }
        }
      }

      .input-edit {
        background-color: transparent;
        border: 0;
        padding: 15px 20px 15px 40px;
        width: 100%;
        color: #ffffff;
        font-size: 14px;
        line-height: 20px;
      }

      .row-action {
        position: absolute;
        top: 15px;
        right: 20px;

        button {
          padding: 0;
          border: 0;
          background-color: transparent;
          cursor: pointer;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }

          i {
            font-size: 20px;
            color: #ffffff;
          }
        }
      }
    }
  }
}